{% load static %}

<section id="team" class="section-padding bg-gray">
    <div class="container">
      <div class="section-header text-center">          
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Meet our team</h2>
        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/team/team-01.png' %}" alt="">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3><a href="#">David Smith</a></h3>
                <p>Front-end Developer</p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.4s">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/team/team-02.png' %}" alt="">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3><a href="#">ERIC PETERSON</a></h3>
                <p>Product Designer</p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.6s">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/team/team-03.png' %}" alt="">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3><a href="#">DURWIN BABB</a></h3>
                <p>Lead Designer</p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/team/team-04.png' %}" alt="">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3><a href="#">MARIJN OTTE</a></h3>
                <p>Lead Designer</p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
      </div>
    </div>
  </section>